<ion-content>
  <div class="content-bg" padding>
    <div class="icon">
      <img src="./assets/img/head-img.jpg">
    </div>
    <ion-list>
      <ion-item class="user-item">
        <ion-label>
          <img class="user-icon" src="./assets/img/user-icon.png" alt="用户名">
        </ion-label>
        <ion-input type="text" placeholder="input phone number..." class="form-control" required minlength="11" maxlength="11"
        name="name" (focus)="inputFocus()" (blur)="inputBlur()" [(ngModel)]="User.mobile" #name="ngModel"></ion-input>
      </ion-item>
      <div *ngIf="name.errors && (name.dirty || name.touched)" class="alert alert-danger">
        <div [hidden]="!name.errors.required">
          请输入手机号！
        </div>
        <div [hidden]="!name.errors.minlength">
          用户名必须大于8位！
        </div>
        <div [hidden]="!name.errors.maxlength">
        用户名必须小于24位！
        </div>
      </div>
      <div class="pwd-box">
        <ion-item class="pwd-item">
          <ion-label>
            <img class="pwd-icon" src="./assets/img/pw-icon.png" alt="密码">
          </ion-label>
          <ion-input [type]="passwordType" (focus)="inputFocus()" (blur)="inputBlur()"  placeholder="input password..." class="form-control" required minlength="1"
          name="password" [(ngModel)]="User.password" #password="ngModel"></ion-input>
        </ion-item>

        <ion-label class="eye" tappable (click)="changeEye()">
            <img *ngIf="!eye"  class="eye-icon" src="./assets/img/open-eye.png" alt="密码">
            <img *ngIf="eye"  class="eye-icon" src="./assets/img/close-eye.png" alt="密码">
          </ion-label>
      </div>

      <div *ngIf="password.errors && (password.dirty || password.touched)" class="alert alert-danger">
        <div [hidden]="!password.errors.required">
          请输入密码！
        </div>
        <div [hidden]="!password.errors.minlength">
          用户名必须大于6位！
        </div>
      </div>
    </ion-list>
 </div>
 <div padding-left padding-right>
  <ion-grid>
    <ion-row>
      <ion-col>
        <button class="resg-btn" ion-button clear color="green" (click)="resg()">register</button>
      </ion-col>
      <ion-col>
        <button class="forg-btn" ion-button clear color="green" (click)="forg()">forgot?</button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <button class="login-btn" ion-button block color="green" (click)="login()">login</button>
</div>
<div class="copyright" *ngIf="!copyright">
  <h2 color="green">智易充</h2>
  <p>Copayright @2016-2017</p>
</div>
</ion-content>
