<!--
  Generated template for the ViewStation page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-buttons end>
      <button ion-button color="green" icon-only (click)="dismiss()">
          <ion-icon name="ios-arrow-down"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
      <ion-list no-lines>
        <ion-item (click)="itemSelected()" tappable class="adjust-border station-img">
          <ion-avatar item-right  tappable (click)="presentActionSheet($event)">
            <img src="./assets/img/icon-detail-nav.png">
            <p text-center>导航</p>
          </ion-avatar>
          <h2 class="company">{{stationDetail.name}}</h2>
          <ion-grid>
            <ion-row class="row-level">
              <ion-col width-50>
                <img class="level" src="./assets/img/icon-star-full.png">
                <img class="level" src="./assets/img/icon-star-full.png">
                <img class="level" src="./assets/img/icon-star-full.png">
                <img class="level" src="./assets/img/icon-star-full.png">
                <img class="level" src="./assets/img/icon-star-full.png">
              </ion-col>
            </ion-row>
            <ion-row class="row-level">
              <ion-col width-10><img class="quick-icon" src="./assets/img/icon-quick.png"></ion-col>
              <ion-col width-30><span>共{{stationDetail.quickporttotal}}</span><span class="available-count-quick">可用{{stationDetail.quickporttotal_available}}</span></ion-col>
              <ion-col width-10><img class="slow-icon" src="./assets/img/icon-slow.png"></ion-col>
              <ion-col width-30><span>共{{stationDetail.slowporttotal}}</span><span class="available-count-slow">可用{{stationDetail.slowporttotal_available}}</span></ion-col>
            </ion-row>
            <ion-row class="row-marging-top"> 
              <ion-col width-10><img class="card-icon" src="./assets/img/icon-card.png"></ion-col>
              <ion-col width-30 class="pay-ways"><p class="distant">{{stationDetail.pay_type}}<p></ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item class="ad">
          <ion-grid>
            <ion-row> 
                <ion-col width-10><img class="card-icon" src="./assets/img/icon-position.png"></ion-col>
                <ion-col width-70 class="address"><p>{{stationDetail.address}}</p></ion-col>
                <ion-col width-20 text-right><p class="distant">{{distant}}m</p></ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
</ion-content>