page-station-detail {
    .level{
        width: 20px;
        float:left;
    }

     .available-count-quick{
            border-radius: 50px;
            border: 1px solid #38a713;
            padding: 5px;
            margin-left: 7px;
            color: #38a713;
            font-size: 14px;
        }

        .available-count-slow{
            border-radius: 50px;
            border: 1px solid #1182EB;
            padding: 5px;
            margin-left: 7px;
            color: #1182EB;
            font-size: 14px;
        }
    
      .company{
            font-size: 20px;
        }
        .quick-icon{
            width: 25px;
        }
        .slow-icon{
            width: 25px;
        }

        .row-level{
            padding:5px 0;
        }
        .adjust-border{
            border-bottom : 0.55px solid #c8c7cc;
            border-top : none!important;
        }

        .no-border{
            border-bottom:none!important;
        }

        .fee-header-detail{
            border-bottom:0.55px solid #c8c7cc;
            margin-bottom: 10px;
            padding-top: 0px;
            padding-bottom: 8px;
        }

        .fee-img{
            width: 22px;
            float: left;
            margin-right: 5px;
        }

        .green-border button{
            border:1px solid #38a713;
        }

        ion-footer img{
            width:20px;
        }

        .station-img ion-avatar img{
                width : 50px;
                height: 50px;
        }
        .first-card{
            .card-ios{
                margin: 12px 0;
                width: 100%;
            }

            .item-ios{
                padding-left : 0px;
            }

            .button-round-ios{
                padding: 0 0.9em;
            }
        }

       .comments ion-label{
           white-space: normal;
       }

       .content{
           font-size: 1.6rem;
           color: #000;
       }

       .comment-date{
               border-bottom: 1px solid #eee;
                margin-bottom: 8px;
       }

       [hidden] {
            display: none;
        }

        ion-segment{
         margin-top: 5px;
        }
}
