<!--
  Generated template for the MySettings page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>设置</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
    <ion-list margin-top>
      <button ion-item  (click)="goToPersonalInfo()">
          个人信息
      </button> 
      <button ion-item  (click)="changePassword()">
          修改密码
      </button>   
    </ion-list>

    <ion-list margin-top>
      <button ion-item  (click)="aboutUs()">
          关于我们
      </button> 
      <button ion-item>
          清除缓存
      </button>
      <button ion-item >
          版本更新
          <ion-note item-right="" class="note note-ios">
             1.0
          </ion-note>
      </button>   
    </ion-list>

    <button ion-button full color="bWhite" (click)="exitApp()">退出登录</button>
    
</ion-content>
