page-recharge {

    .bao-bg{
        background: url(../assets/img/icon-my-pay03.png) no-repeat;
         background-position: -17px -13px;
    background-size: 83px 91px;
    padding-left: 50px;
    }

    .wei-bg{
            background: url(../assets/img/icon-my-pay02.png) no-repeat;
    background-position: -17px -13px;
    background-size: 83px 91px;
    padding-left: 50px;
    }

    .wy-bg{
         background: url(../assets/img/icon-my-pay01.png) no-repeat;
    background-position: -17px -13px;
    background-size: 83px 91px;
    padding-left: 50px;
    }

    .list-header-ios{
        border-bottom: 1px solid #c8c7cc;
    }

}
