<ion-tabs [selectedIndex]="mySelectedIndex">
  <ion-tab [root]="tab1Root" tabTitle="home" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Scan" tabIcon="qr-scanner"></ion-tab>
 <!-- <ion-tab [root]="tab3Root" tabTitle="服务" tabIcon="apps"></ion-tab>-->
  <ion-tab [root]="tab4Root"  tabTitle="Me" tabIcon="contact"></ion-tab>
</ion-tabs>
 