<!--
  Generated template for the Favorite page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>我的收藏</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>


    <ion-list>
      <ion-item-sliding *ngFor="let station of stations;let sIndex=index;" tappable (click)="itemSelected(station)">
        <ion-item>
          <ion-avatar item-right tappable (click)="presentActionSheet($event,station)">
            <img src="./assets/img/icon-detail-nav.png">
            <p>导航</p>
            <p>{{station.distant}}m</p>
          </ion-avatar>
          <h2 class="company">{{station.name}}</h2>
          <ion-grid>
            <ion-row>
              <ion-col width-10><img class="quick-icon" src="./assets/img/icon-quick.png"></ion-col>
              <ion-col width-30><span>共{{station.quickporttotal}}</span><span class="available-count-quick">可用{{station.quickporttotal_available}}</span></ion-col>
              <ion-col width-10><img class="slow-icon" src="./assets/img/icon-slow.png"></ion-col>
              <ion-col width-30><span>共{{station.slowporttotal}}</span><span class="available-count-slow">可用{{station.slowporttotal_available}}</span></ion-col>
            </ion-row>       
            <ion-row class="row-marging-top"> 
              <ion-col width-10><img class="card-icon" src="./assets/img/icon-card.png"></ion-col>
              <ion-col width-30 class="pay-ways"><p>{{station.pay_type}}<p></ion-col>
            </ion-row> 
          </ion-grid>
        </ion-item>
        <ion-item-options>
          <button ion-button color="danger" (click)="removeItem($event,station,sIndex)">
            删除
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
</ion-content>
