<!--
  Generated template for the TransactionDetails page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>交易明细</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
      <ion-list>
        <ion-item *ngFor="let tran of transactions">
          <h2>{{tran.tranType}}</h2>
          <ion-note color="green" item-right="" class="note note-ios">
                   {{tran.money}}
          </ion-note>
          <p>{{tran.datetime}}</p>
        </ion-item>
      </ion-list>
</ion-content>
