<!--
  Generated template for the QRCode page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>扫码</ion-title>
    <ion-buttons end>
      <button ion-button color="green"  (click)="goToUsageNotes()">
         使用帮助
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
    <div class="bg-scan">
        <h5 color="light" text-center>扫码充电桩二维码或输入枪口编号进行充电</h5>
    </div>
    <ion-grid class="scan-input-btn">
        <ion-row center>
            <ion-col text-center  width-50>
                <a (click)="inputScNo()"><img class="scan-input" src="./assets/img/icon-saoma-num2.png"></a>
                <p>输入验证编号</p>
            </ion-col>
            <ion-col text-center    width-50>
                <a (click)="scanNo()"><img class="scan-input" src="./assets/img/icon-saoma-erweima2.png"></a>
                <p>QRCode scan</p>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
