page-qr-code {

    .bg-scan{
            background: url(./../assets/img/bg-saoma-pic.png) no-repeat center center;
            background-size: 100% 100%;
            height: 50%;
    }

    .bg-scan h5{
        margin-top: 0px;
        padding-top: 30px;
    }

    .scan-input{
        width:50%; 
        margin:0 auto;
    }

    .scan-input-btn{
        margin-top:50px; 
    }

}
