page-vaild-success {

    .header-ios .toolbar-background-ios, .footer-ios .toolbar-background-ios{
        border:none;
    }

    .toolbar-background-ios{
        background: none;
    }
    section{display:block;margin:0 auto;}

    /*内容*/
    .main-section {
        padding-top:1.76rem;
    }
    .main-section h3 {
        font-size:2.6rem;
        color:#38a713;
        text-align:center;
        line-height:3.4rem;	
    }
    .main-section .text {
        font-size:1.64rem;
        color:#1a1a1a;
        text-align:center;
    }
    .main-section img {
        display:block;
        width:25.6rem;
        margin:0.56rem auto 0 auto;
    }
    .main-section .address-name {
        font-size: 1.68rem;
        color: #ffffff;
        margin: 0.68rem 1.28rem 0.6rem 1.28rem;
        height: 3.0rem;
        line-height: 3.0rem;
        background-color: #38a713;
        border-radius: 1.66rem;
        text-align: center;
    }  
    .main-section .pole-num {
            text-align: center;
            line-height: 3rem;
            color: #38a713;
            font-size: 1.64rem;
    }

}
