<!--
  Generated template for the InputValidno page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>枪口编号</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list no-lines>

      <ion-item class="sc-no">
        <ion-input [(ngModel)]="portCode" name="name" #name="ngModel" type="text"  placeholder="请输入枪口编号" ></ion-input>
      </ion-item>

  </ion-list>

  <button ion-button block color="green" (click)="validBtn()">确定</button>
</ion-content>
