page-feedback {


    .commentLevel{
        height: 4rem;
    }

    .inputComments{
        height: 15rem;
    }

    .inputComments textarea{
        width: 100%;
        height: 14rem;
        background-color: #f2f2f2;
        border:none;
    }

    .scroll-content {
        background-color: #f2f2f2;
    }

    .comments{
        background-color: #fff;
        margin-bottom: 20px;
    }
}
