<!--
  Generated template for the Feedback page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>意见反馈</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
    <div padding class="comments">
      <div class="commentLevel">
          <span class="level-name">请留下你宝贵的建议和意见</span>
      </div>
      <div class="inputComments">
          <textarea required minlength="8" maxlength="100"
           [(ngModel)]="content" #name="ngModel"></textarea>
      </div>
    </div>

      <div padding><button color="green" (click)="submit()"  ion-button block>提交</button></div>

</ion-content>
