<!--
  Generated template for the MyMoney page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>
  <section class="my-money-bg">
    <ion-navbar>
      <ion-title>我的账户</ion-title>
    </ion-navbar>

    <div class="remaining">
        <h2>账户余额(元)</h2>
    </div>

     <div class="remaining-money">
        <h2>{{userInfo.myMoney}}</h2>
    </div>
  </section>
  <ion-list>
    <button ion-item  (click)="goToRecharge()">
      账户充值
    </button>  
    <button ion-item  (click)="goToTransaction()">
      交易明细
    </button>
  </ion-list>
</ion-content>
