<!--
  Generated template for the VaildSuccess page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-toolbar>
    <ion-buttons start>
      <button color="green" ion-button (click)="dismiss()">
        <ion-icon ios="md-close" md="md-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>


<ion-content>
     <section class="main-section">
   	 	<h3>交易成功</h3>
    	<p class="text">本次消费金额(元)</p>
      <h1>{{orderInfo.totalChargingMoney}}</h1>
      <div class="address-name" *ngIf="orderInfo.orderStatus==3">
        <p>充电费用已由系统自动扣款<p>
        <p style="color:red">请将充电枪归位<p>
        </div>
      <div class="address-name" *ngIf="orderInfo.orderStatus!=3">自动扣款失败，请先充值</div>
     </section>
     <div class="elec-infos">
        	<div class="info-block">
            	<span>{{orderInfo.totalChargingTime}}</span>
                <p>已充时长(min)</p>
            </div>
            <div class="info-block">
            	<span>{{orderInfo.totalChargingQuantity}}</span>
                <p>充电电量(kw.h)</p>
            </div>
            <div class="info-block">
            	<span>{{orderInfo.currentSoc}}</span>
                <p>电池电量(%)</p>
            </div>
      </div>
      <div class="btns">
        <button outline color="green" (click)="goToComment(orderInfo)" ion-button round>评价</button>
        <button ion-button round color="green" (click)="dismiss()">完成</button>
      </div>
</ion-content>
