page-stop-result {

    .header-ios .toolbar-background-ios, .footer-ios .toolbar-background-ios{
        border:none;
    }

    .toolbar-background-ios{
        background: none;
    }
    section{display:block;margin:0 auto;}

    /*内容*/
    .main-section {
        padding-top:1.76rem;
    }
    .main-section h3 {
        font-size:2.6rem;
        color:#38a713;
        text-align:center;
        line-height:3.4rem;	
    }

    .main-section h1 {
        font-size: 5.6rem;
        color: #38a713;
        text-align: center;
        line-height: 4.4rem;
        padding-bottom: 2rem;
    }
    .main-section .text {
        font-size:1.64rem;
        color:#1a1a1a;
        text-align:center;
    }
    .main-section img {
        display:block;
        width:25.6rem;
        margin:0.56rem auto 0 auto;
    }
    .main-section .address-name {
            font-size: 1.68rem;
        color: #333;
        margin: 0.68rem 3.28rem 0.6rem 3.28rem;
        height: 3.0rem;
        line-height: 3.0rem;
        background-color: #eee;
        border-radius: 1.66rem;
        text-align: center;
    }  
    .main-section .pole-num {
            text-align: center;
            line-height: 3rem;
            color: #38a713;
            font-size: 1.64rem;
    }

    .elec-infos {
        overflow:hidden;
        margin: 3rem 1.36rem 2.12rem 1.36rem;
        
    }
    .elec-infos .info-block:first-child{
        border-left:none;
    }

    .elec-infos .info-block {
        width:33.3%;
        float:left;
        text-align:center;
        border-left: 1px solid #ccc;
    } 
    .elec-infos .info-block span {
        font-size:2rem;
        color:#1a1a1a;
    }
    .elec-infos .info-block p {
        font-size:1.56rem;
        color:#666666;
        margin-top:0.16rem;
    }

    .btns{
        text-align: center;
         margin-top: 5rem;
    }
}
