<!--
  Generated template for the HelpCenter page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>帮助中心</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
      <ion-list>
            <a href="tel:4008886666" ion-item class="help-phone">
                <ion-avatar item-left>
                <img src="./assets/img/icon-my-phone.png">
                </ion-avatar>
                <h2>联系客服</h2>
                <ion-note color="green" item-right="" class="note note-ios">
                   400-888-6666
                </ion-note>
            </a>
        </ion-list>

        <ion-list>
            <button (click)="goToRegNotePage()" ion-item>
                <h2>会员注册</h2>
            </button>
            <button (click)="goToUsagePage()" ion-item>
                <h2>充电桩使用</h2>
            </button>
            <button (click)="goToPayPage()" ion-item>
                <h2>如何付款</h2>
            </button>
        </ion-list>


</ion-content>
