page-home {

    #myLocation a{
        width:100%;
        height: 100%;
        display: block;
        padding: 5px 0 0 6px;
    }

    #myLocation a:active{
        background-color: #ccc;
    }

    .my-location{
        position: absolute;
        bottom: 18px;
        left: 10px;
        background-color: #fff;
        width: 40px;
        height: 40px;
        font-size: 25px;
        color: #fff;
        border:1px solid #ccc;
    }

    .my-location a{
        color : #000;
    }

    .chargingStatus{
        position: absolute;
        top: 0.1rem;
        opacity: 0.7;
        left: 36%;
        padding: 0 12px;
    }

}
