page-about-us {
        .card-ios{
            margin: 12px 0;
            width:100%;
      }


       .card-ios p{
            line-height: 3rem;
      }

      .content-ios{
            background-color: #eee;
      }

      .card-content-ios{
            padding:0px;
      }

      .item-block{
            border-bottom: 1px solid #eee;
      }

      .logo img{
          margin: auto;
      }

      ion-item h2{
          line-height: 2rem;
          padding-top:6px;
      }

      ion-item  .item-inner .note-ios{
        font-size: 1.6rem;
      }


}
