<!--
  Generated template for the OrderCenter page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>我的订单</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
    <ion-segment [(ngModel)]="selectedSeg" color="green">
      <ion-segment-button value="allOrders">
        全部订单
      </ion-segment-button>
      <ion-segment-button value="pendingPay">
        未付款
      </ion-segment-button>
      <ion-segment-button value="pendingComments">
        待评价
      </ion-segment-button>
    </ion-segment>

    <div [ngSwitch]="selectedSeg" >
      <div *ngSwitchCase="'allOrders'" margin-top class="orderDetail">
        <ion-list>
            <ion-item *ngFor="let order of orders" tappable (click)="goToChargingStatus(order)">
              <ion-grid>
                <ion-row>
                  <ion-col col-6>{{order.order_createtime}}</ion-col>
                  <ion-col  col-6 text-right class="status">{{order.text}}</ion-col>
                </ion-row>
                <ion-row>  
                  <ion-col col-12>
                      <p>{{order.station_name}}</p>
                  </ion-col>
                </ion-row>     
                <ion-row> 
                  <ion-col col-6>
                      <p><img src="./assets/img/icon-my-order01.png">充电电量：{{order.charging_quantity||'--'}}度</p>
                      <p><img src="./assets/img/icon-my-order02.png">消费金额：{{order.charging_money||'--'}}元</p>
                  </ion-col>
                  <ion-col col-6 text-right>
                      <button *ngIf="order.status!=1&&order.appraise_status==0" (click)="goToOrderComment($event,order)"  right ion-button color="sec-orange" outline>评价</button>
                      <button *ngIf="order.status==2" (click)="goToOrderPay($event,order)"  right ion-button color="green" outline>付款</button>
                  </ion-col>
                </ion-row> 
              </ion-grid>
            </ion-item> 
        </ion-list> 
      </div>
      <div *ngSwitchCase="'pendingPay'" margin-top class="orderDetail">
        <ion-list>
           <div *ngFor="let order of orders">
            <ion-item *ngIf="order.status==2">
              <ion-grid>
                <ion-row>
                  <ion-col col-6>{{order.order_createtime}}</ion-col>
                </ion-row>
                <ion-row>  
                  <ion-col col-12>
                      <p>{{order.station_name}}</p>
                  </ion-col>
                </ion-row>     
                <ion-row> 
                  <ion-col col-6>
                      <p><img src="./assets/img/icon-my-order01.png">充电电量：{{order.charging_quantity}}度</p>
                      <p><img src="./assets/img/icon-my-order02.png">消费金额：{{order.charging_money}}元</p>
                  </ion-col>
                  <ion-col col-6 text-right>
                      <button  (click)="goToOrderPay(order)"  right ion-button color="sec-orange" outline>付款</button>
                  </ion-col>
                </ion-row> 
              </ion-grid>
            </ion-item> 
           </div>
        </ion-list> 
      </div>
      <div *ngSwitchCase="'pendingComments'" class="first-card"  margin-top class="orderDetail">
           <ion-list>
             <div *ngFor="let order of orders">
              <ion-item  *ngIf="order.appraise_status==0&&order.status==3"  tappable (click)="itemSelected(station)">
                <ion-grid>
                  <ion-row>
                    <ion-col col-6>{{order.order_createtime}}</ion-col>
                  </ion-row>
                  <ion-row>  
                    <ion-col col-12>
                        <p>{{order.station_name}}</p>
                    </ion-col>
                  </ion-row>     
                  <ion-row> 
                    <ion-col col-6>
                        <p><img src="./assets/img/icon-my-order01.png">充电电量：{{order.charging_quantity}}度</p>
                        <p><img src="./assets/img/icon-my-order02.png">消费金额：{{order.charing_money}}元</p>
                    </ion-col>
                    <ion-col col-6 text-right>
                        <button (click)="goToOrderComment()"   right ion-button color="sec-orange" outline>评价</button>
                    </ion-col>
                  </ion-row> 
                </ion-grid>
              </ion-item> 
            </div> 
        </ion-list> 
      </div>
      
    </div>

</ion-content>
