<!--
  Generated template for the ScList page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>充电桩</ion-title>
    <ion-buttons end>
      <button ion-button color="green" icon-only (click)="goToHome()">
         地图
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <ion-item *ngFor="let station of stations" tappable (click)="itemSelected(station)">
     <ion-avatar item-right tappable (click)="presentActionSheet($event,station)">
      <img src="./assets/img/icon-detail-nav.png">
      <p>导航</p>
      <p>{{station.distant}}m</p>
     </ion-avatar>
     <h2 class="company">{{station.name}}</h2>
     <ion-grid>
      <ion-row>
        <ion-col width-10><img class="quick-icon" src="./assets/img/icon-quick.png"></ion-col>
        <ion-col width-30><span>共{{station.quickporttotal}}</span><span class="available-count-quick">可用{{station.quickporttotal_available}}</span></ion-col>
        <ion-col width-10><img class="slow-icon" src="./assets/img/icon-slow.png"></ion-col>
        <ion-col width-30><span>共{{station.slowporttotal}}</span><span class="available-count-slow">可用{{station.slowporttotal_available}}</span></ion-col>
      </ion-row>       
      <ion-row class="row-marging-top"> 
        <ion-col width-10><img class="card-icon" src="./assets/img/icon-card.png"></ion-col>
        <ion-col width-30 class="pay-ways"><p>{{station.pay_type}}<p></ion-col>
      </ion-row> 
    </ion-grid>
    </ion-item>  
  </ion-list> 
</ion-content>
