<!--
  Generated template for the ChangePassword page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>修改密码</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list inset>

        <ion-item>
          <ion-label>旧密码</ion-label>
          <ion-input name="oldPwd"  [(ngModel)]="oldPwd" #name="ngModel" type="password"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>新密码</ion-label>
          <ion-input name="newPwd"  [(ngModel)]="newPwd" #name="ngModel" type="password"></ion-input>
        </ion-item>
    </ion-list>

    <button color="green" ion-button block (click)="changePassword()">确定</button>
</ion-content>
