// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


img{
    display: block;
}
p{
    margin: 0;
}
ion-grid{
    padding: 0;
    ion-col{
        padding: 0;
    }
}


.toolbar-title,.back-button{
        color: #38a713!important;
        font-weight: normal;
}


.tab-button-icon{
    color: #38a713!important;
}

 .spec-modal-wrapper {
    position: absolute;
    left: 0px;
    display: block;
    width: 100%;
    height: 35%;
    bottom: 0px;
    }


.spec-ion-modal {
    padding: 30px;
    background: rgba(0,0,0,0.7)
}

.amap-ui-control-theme-normal .amap-ui-control-traffic-lights {
    background: url(http://webapi.amap.com/ui/1.0/ui/control/BasicControl/assets/trafficlights2.png) no-repeat #fff 50% 20%!important;
}

div.amap-ui-control-position-bl, div.amap-ui-control-position-lb{
    bottom: 30px;
    left: 10px;
}

div.amap-ui-control-position-rt, div.amap-ui-control-position-tr {
    top: 10px;
    right: 12px;
}

.list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block{
    border-bottom: 1px solid #c8c7cc
}



div .list-ios > .item-block:first-child{
    border-top:1px solid #c8c7cc
}

div .list-ios .item-block .item-inner{
    border-bottom: 1px solid #c8c7cc;
}


.pay-money{
    font-size: 20px;
}

