page-tutorial {
.toolbar-background {
    background: transparent;
    border-color: transparent;
  }

  .slide-zoom {
    height: 100%;
  }

  .slide-title {
    margin-top: 2.8rem;
  }


  b {
    font-weight: 500;
  }

  img {
    display: inline-block;
}

  p {
    padding: 0 40px;
    font-size: 14px;
    line-height: 1.5;
    color: #60646B;

    b {
      color: #000000;
    }
  }

  .swiper-pagination{
    display: none;
  }

  .btn{
    position: absolute;
    bottom: 87px;
    z-index: 20000;
    left: 32%;
    right: 50%;
    width: 36%;
    height: 37px;
    opacity: 0;
  }
}
