<!--
  Generated template for the OrderComment page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>订单评价</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
    <div padding class="comments">
      <div class="commentLevel">
          <span class="level-name">总分</span>
          <ul>
            <li *ngFor="let path of imgPaths;let rate=index;">
              <a     (click)="selectStar(rate+1)">
                  <img [src]="path">
              </a></li>
          </ul>
      </div>
      <div class="inputComments">
          <textarea required minlength="8" maxlength="100"
           [(ngModel)]="content" #name="ngModel"
            placeholder="对我们的服务满意吗？请留下您宝贵的意见，我们会努力改进哒（限100字）"></textarea>
      </div>
    </div>

      <div padding><button [attr.disabled]="disableBtn" color="green" (click)="comment()"  ion-button block>提交</button></div>

</ion-content>
