page-reg-notes {
         .help-explain-section {
        background-color:#fff;
        min-height:100%;
        overflow:hidden;
    }
    .help-explain-title {
        margin:1.76rem 0.48rem 0 0.48rem ;
        height:3.08rem;
        line-height:2.08rem;
        padding-left:0.96rem;
        border-bottom:1px solid #eee;
        font-size:1.6rem;
        color:#1a1a1a;
        background:url(../images/icon-my-order02.png) 0 center no-repeat;
        background-size:0.68rem;
    }
    .help-explain-content {
        margin:0 1.48rem;
        padding: 0.6rem 0.48rem;
    }
    .help-explain-content p {
        color:#666;
        line-height:1.84rem;
        text-align:justify;
        text-justify:inter-ideograph;/*IE*/
    }
}
