<!--
  Generated template for the RegNotes page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>帮助中心</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <section class="help-explain-section">
    	<h3 class="help-explain-title">会员注册</h3>
        <div class="help-explain-content">
        	<p>
            	1.打开“智易充”手机APP，在登录界面点击“注册”;<br>
				2.输入手机号，点击获取验证码；<br>
				3.填写手机收到的验证码；<br>
				4.登录成功。
            </p> 	
        </div>	
    </section>
</ion-content>
