<!--
  Generated template for the MessageCenter page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>消息中心</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
    <ion-list>
      <ion-item-sliding *ngFor="let message of messages;let msgIndex=index;">
        <ion-item [style.background-color]="setIsRead(message)" tappable (click)="goToMsgDetail(message)">
          <ion-avatar item-left>
            <img src="./assets/img/message01.png">
          </ion-avatar>
          <h3>{{message.content}}</h3>
          <ion-note  item-right="" class="note note-ios">
                {{message.datetime |date :'yyyy-MM-dd HH:mm:ss'}}
          </ion-note>
        </ion-item>
        <ion-item-options>
          <button ion-button color="danger" (click)="removeItem(message,msgIndex)">
            删除
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
</ion-content>
