<!--
  Generated template for the MessageDetail page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>消息详情</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
      <ion-card>

        <ion-card-content>
            {{message.content}}
        </ion-card-content>

      </ion-card>
</ion-content>
