<!--
  Generated template for the PayNotes page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>帮助中心</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <section class="help-explain-section">
    	<h3 class="help-explain-title">充电桩使用说明</h3>
        <div class="help-explain-content">
        	<p>1.点击充电桩触摸屏任意位置，进主入充电界面</p>
        	<img src="./assets/img/img-explain-01.jpg">
            <p>2.取下充电枪头，插入汽车充电接口</p>
        	<img src="./assets/img/img-explain-02.jpg">
            <p>3.选择支付方式</p>
        	<img src="./assets/img/img-explain-04.jpg">
            <p>4.输入充电额度</p>
        	<img src="./assets/img/img-explain-05.jpg">
            <p>5.开始充电</p>
        	<img src="./assets/img/img-explain-06.jpg">
            <p>6.点击结束充电，进行充电结算</p>
        	<img src="./assets/img/img-explain-07.jpg">
            <p>7.支付完成，充电结束</p>
        	<img src="./assets/img/img-explain-08.jpg">
        </div>	
    </section>
</ion-content>
