


page-charging-status {



    .elec-ball-section {
        overflow:hidden;
        padding-top:1.76rem;
        position:relative;
        background-image:url(./../assets/img/bg-elec-ball.png);
        background-size:100%;
        background-repeat:no-repeat;
        background-position:0 1.76rem;
    }
    .elec-ball {
        width: 15.96rem;
        height: 15.96rem;
        border: 0.63rem solid #a3ea8c;
        border-radius: 50%;
        overflow: hidden;
        margin: 4.73rem auto 0 auto;
        position: relative;
    }   
    .elec-ball img {
        display:block;
        position:absolute;
        left:0;
        bottom:0;
        width:100%;
        height:0;
        z-index:10;
    }
    .elec-ball .elec-num {
        color: #000000;
        font-size: 4.57rem;
        text-align: center;
        display: block;
        width: 100%;
        position: absolute;
        top: 3.85rem;
        left: 0;
        z-index: 20;
    }
    .elec-ball p {
        display: block;
        width: 100%;
        color: #000000;
        font-size: 1.80rem;
        text-align: center;
        position: absolute;
        top: 9rem;
        left: 0;
        z-index: 20;
    }
    .elec-infos {
        overflow:hidden;
        margin: 3rem 1.36rem 2.12rem 1.36rem;
        
    }
    .elec-infos .info-block:first-child{
        border-left:none;
    }

    .elec-infos .info-block {
        width:33.3%;
        float:left;
        text-align:center;
        border-left: 1px solid #ccc;
    } 
    .elec-infos .info-block span {
        font-size:2rem;
        color:#1a1a1a;
    }
    .elec-infos .info-block p {
        font-size:1.56rem;
        color:#666666;
        margin-top:0.16rem;
    }
    .corner-nums {
            width: 8.6rem;
        height: 1.8rem;
        position: absolute;
        top: 2.68rem;
        left: 2rem;
        z-index: 10;
        line-height: 2.88rem;
        color: #333333;
        font-size: 1.52rem;
    }
    .corner-nums p i {
           display: inline-block;
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 50%;
        background-color: #38a713;
        vertical-align: middle;
    }
    .corner-nums p em {
        margin-left:0.14rem;
        margin-right:0.2rem;
        font-style: normal;
    } 

    .realtime-info-section{
        margin-top: -1rem;
    }

    .realtime-info-section ul li {
        height: 3.84rem;
        line-height: 3.84rem;
        overflow: hidden;
        padding: 0 3rem 0 5rem;
        background-repeat: no-repeat;
        background-size: 1.84rem 1.84rem;
        background-position: 2rem 50%;
        color: #666666;
    }
    .realtime-info-section ul li.v-h { background-image:url(./../assets/img/icon-saoma-vh.png)}
    .realtime-info-section ul li.v-l { background-image:url(./../assets/img/icon-saoma-vl.png)}
    .realtime-info-section ul li.t-h { background-image:url(./../assets/img/icon-saoma-ah.png)}
    .realtime-info-section ul li.t-l { background-image:url(./../assets/img/icon-saoma-al.png)}
    .realtime-info-section ul li em {
        display: block;
        float: left;
        font-size: 1.68rem;
        font-style: normal;
    }
    .realtime-info-section ul li span {
        display:block;
        float:right;
        color:#38a713;
        font-size:1.68rem;
    }
    .pole-num {
        width:100%;
        height:1.8rem;
        background-color:#ffffff;
        border-top:1px solid #e5e5e5;
        line-height:1.8rem;
        text-align:center;
        font-size:0.56rem;
        color:#666666;
        position:fixed;
        bottom:0;
        left:0;
        z-index:10;
    }

    ul{
        padding:0;
        margin: 0;
    }

}
