<!--
  Generated template for the PersonInfo page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>个人信息</ion-title>
    <ion-buttons end>
      <button ion-button color="green"  (click)="modifyUser()">
         修改
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>

<ion-content>
    <ion-list margin-top>
      <ion-item>
          账号
          <ion-note color="green" item-right="" class="note note-ios">
                   {{personInfo.loginId}}
                </ion-note>
      </ion-item > 
      <ion-item >
          昵称
          <ion-note color="green" item-right="" class="note note-ios">
                   {{personInfo.alias}}
                </ion-note>
      </ion-item>
      <ion-item>
          车型
          <ion-note color="green" item-right="" class="note note-ios">
              {{personInfo.carType}}
          </ion-note>
      </ion-item>   
    </ion-list>
</ion-content>
